* {
  margin: 0;
  padding: 0;
}
span {
  display: block;
}
.pococard {
  /* border: 1px solid red; */
  padding: 10px 0;
  margin: 50px 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 7px 10px 12px -5px rgb(0, 0, 0, 0.56);
  background-color: white;
  border-radius: 5px;
}
.pococard > h2 {
  color: blueviolet;
  padding: 10px 0;
}
.imgSrc {
  background-color: #eceff1;
  transition: all ease 500ms;
}

.imgSrc:hover {
  transform: scale(1.25);
}
